= render partial: "shared/print_errors", locals: { obj: @subject}

%p 

= form_for [@grade, @subject] do |f|

  .field
    = f.label :name, "Name Subject"
    = f.text_field :name
  .field
    = f.label :teacher
    = f.text_field :teacher
  .field
    = f.submit